<div class="content-container {{show}}">
  <p style="text-indent:0px;margin-top:20vh;">We learn by using prototypes with select individuals in order to answer questions. These prototypes extend beyond interfaces and include emails and other touch points with the brand in order to test a complete experience. This process minimizes bias and mitigates the risk we will build something that does not adequately teach us more about a problem.</p>

  <img src="assets/images/arrow.png">

  <div class="prototypes">
    <div class="prototype-section second">
      <div class="prototype-inner">
        <div class="top">
          <h3>Consumer Test Two</h3>
          <p><i>August 2017 - Ongoing</i></p>
          <div class="close-trigger">
            <div class="highlight" {{action 'contentShow' "nothing"}}>Show less</div>
          </div>
          <div class="open-trigger">
            <div class="highlight" {{action 'contentShow' 'two'}}>Show more</div>
          </div>
        </div>
        <div class="sections">
        <section class="questions" style="margin-top:50px;">
          <label>Questions</label>
          <hr />

          <ul>
            <li>What would make becoming a premium user attractive?</li>
            <li>Would you use Spofford to design your space and buy furniture for it?</li>
            <li>Do you understand how users back furniture prototypes, and Spofford starts manufacturing them?</li>
            <li><i>What do you expect the premium user experience to look like?</i></li>
          </ul>

        </section>

        <section class="insights">
          <label>Insights</label>
          <hr />
          <p><i>Forthcoming</i></p>
        </section>

        <section class="test">
          <label>Prototype</label>
          <hr />
          <div class="image-group" style="margin-bottom:50px;border-bottom:1px solid black;padding-bottom:50px;">
            <img src="assets/images/second-journey.png" />
            <p>The test participant's journey.</p>
          </div>
          <div class="image-group array">
            <img src="assets/images/homepage.png" />
            <img src="assets/images/prototype.png" />
            <img src="assets/images/inspiration.png" />
            <img src="assets/images/landing.png" />
            <p>This prototype is rapidly undergoing new iterations. <br /> <a href="https://invis.io/CADBDJAT3#/251513468_Invite_Email" target="_blank">See the most recent version.</a></p>
          </div>
        </section>

        <section class="participants">
          <label>Participants</label>
          <hr />
          <p><i>In progress</i></p>

        </section>
      </div>
      </div>
    </div>

    <div class="prototype-section first">
      <div class="prototype-inner">
        <div class="top">
          <h3>Consumer Test One</h3>
          <p><i>July 2017 - August 2017</i></p>
          <div class="close-trigger">
            <div class="highlight" {{action 'contentShow' "nothing"}}>Show less</div>
          </div>
          <div class="open-trigger">
            <div class="highlight" {{action 'contentShow' 'one'}}>Show more</div>
          </div>
        </div>

        <div class="sections">
        <section class="questions" style="margin-top:50px;">
          <label>Questions</label>
          <hr />
          <ul>
            <li>How do you buy furniture?</li>
            <li>What's your process for designing your home?</li>
            <li>Would you support a prototype of a furniture item?</li>
            <li><i>What would make you change your current pattern?</i></li>
          </ul>
        </section>

        <section class="insights">
          <label>Insights</label>
          <hr />
          <ul>
            <li>Design and shopping are collaborative in partnered households</li>
            <li>The female in the relationship took on a greater burden of generating a design concept.</li>
            <li>Mood boards serve as a powerful inspiration tool.</li>
            <li>The design process and subsequent furniture shopping experience caused a great deal of stress.</li>
            <li>Physical artifacts (furniture, swatches) play a critical role.</li>
            <li>Practical needs, comfort, and a desire to make a unique statement all factors.</li>
            <li>Consumers are far more risk averse in domain of interior design than in other areas.</li>
            <li>Ability to return objects and finance new ones removed a huge obstacle.</li>
            <li>Any delay in obtaining an object represented a huge drawback.</li>
            <li>Locally made had a far greater attraction and appeal than anticipated.</li>
            <li>Any ambiguity in amount ultimately paid for an object a non-starter.</li>
            <li>Understanding the concept of co-creation in the context of more familiar shopping experience essential.</li>
          </ul>
        </section>

        <section class="test">
          <label>Prototype</label>
          <hr />
          <div class="image-group">
            <img src="assets/images/prototype-1-journey.png" />
            <p>The test participant's journey.</p>
          </div>
          <div class="image-group">
            <img src="assets/images/test-1-walkthrough.gif" />
            <p>Clickthrough of prototype. <a href="https://invis.io/63CRDS4ZJ#/242085940_Invite_Email" target="_blank">View full prototype.</a></p>
          </div>
        </section>

        <section class="participants">
          <label>Participants</label>
          <hr />
          <p style="text-indent:25px"><a href="https://docs.google.com/document/d/1TxAtqgtDoQA5ngcSP4QE25pmWNjR92iAMmwX_FdNDCk/edit?usp=sharing" target="_blank">Full interview transcripts</a></p>
          <ul>
            <li>MN, male, 30 years old, User Experience Designer, Boston</li>
            <li>VS, male, 33 years old, Technology Startup CEO, Boston</li>
            <li>OS, male, 30 years old, Business Consultant, Cambridge</li>
            <li>DO, male, 33 years old, Software Developer, Jamaica Plain</li>
          </ul>
        </section>
      </div>
      </div>
    </div>
  </div>
</div>
